{{#foreach navigation}}
    <li class="pview menu-item menu-item-type-post_type menu-item-object-page {{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}" class="pviewa">{{label}}</a>
    </li>
{{/foreach}}
